*.pyc
.project
.pydevproject
.settings
.vagrant
media/
public/
local_settings.py
.idea/
index/
.DS_Store
*.ipynb
.ipynb*
*.sql*
.pem*
.pem
*.pem
*.log
*.jshintrc
.venv
*.sublime-*
*.todo
.sass-cache
.env
wsgi.py
.cache
tags
celerybeat-schedule
celerybeat.pid
.coverage
htmlcov/
