<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send tasks</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="send_mail">
        <button type="submit"> Send mail</button>

    </form>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="group_test">
        <button type="submit"> Send Group Mail test</button>

    </form>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="chord_test">
        <button type="submit"> Send Chord Mail test</button>

    </form>
</body>
</html>